.email {
  &__content {
    display: flex;
    align-items: center;
    position: relative;
    border: 5px solid pink;
    border-radius: 7px;
      margin: 20px auto;
      padding: 10px;
      text-decoration: none;
    font-family: $font-family-primary;
    font-size: $font-size-description;
    color: $font-color-primary;


    &:hover,
    &:focus {
      transform: translateY(-3px);
      background-color: deeppink;
    }
  }
}