.layout {
  height: $full-screen;

  &__contact {
    z-index: 10;
    width: 40px;
    position: fixed;
    top: 200px;
    left: 40px;
    svg {
      padding-bottom: 1.5rem;
    }
    @include respond(phone) {
      display: none;
    }
  }
}

svg {
  fill: $font-color-menu;
}
