.layout {
  height: $full-screen;
  &__contact {
    z-index: 10;
    width: 40px;
    position: fixed;
    top: 200px;
    left: 40px;
  }
  &__footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family-menu;
    font-size: 1rem;
    color: $font-color-menu;
  }
}

hr {
  color: $line-color;
  width: 60%;
}

svg {
  fill: $font-color-menu;
}