.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-menu;
  font-size: $font-size-menu;
  height: 3rem;
  background: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include respond(phone) {
    display: none;
  }

  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    color: $font-color-menu;
  }

  &__list {
    list-style: none;

    &__details {
      display: block;
      float: left;
      position: relative;
      padding-left: 0.5rem;
      text-transform: uppercase;

      &__links {
        text-decoration: none;
        color: $font-color-menu;

        &:hover {
          color: $hover-color-menu;
        }
      }
    }
  }

  &__resume {
    margin-right: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    a {
      text-decoration: none;
      color: $font-color-menu;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
