.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-menu;
  font-size: $font-size-menu;
  height: 3rem;
  background: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    color: $font-color-menu;
  }

  &__list {
    list-style: none;

    &__details {
      display: block;
      float: left;
      position: relative;
      padding-left: 0.5rem;
      text-transform: uppercase;

      &__links {
        text-decoration: none;
        color: $font-color-menu;

        &:hover {
          color: $hover-color-menu;
        }
      }
    }
  }

  &__resume {
    margin-right: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-family: $font-family-menu;
    color: $accent-color-1;
    text-transform: uppercase;
    font-size: $font-size-menu;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $accent-color-2;
      border-radius: inherit;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $accent-color-3;
      transition: all 0.3s;
      border-radius: inherit;
      z-index: -1;
    }
    &:hover {
      color: $secondary-color;
      &:before {
        width: 100%;
      }
    }
  }
}
