.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
  color: $font-color-primary;
  position: relative;

  &__background {
    height: $full-screen;
    width: $full-screen;
    pointer-events: none;
    position: absolute;
  }

  &__title {
    position: absolute;
    left: 2rem;
    font-size: 4rem;
    padding-bottom: 2rem;
    letter-spacing: 0.2rem;
    padding-left: 2rem;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 1rem;
      padding:0;
      width: 100%;
      left: 0;
    }
  }

  &__description {
    position: relative;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    top: 2rem;
    left: -4rem;
    z-index: 2;
    color: rgba(234, 240, 246, 0.2);
    @include respond(phone) {
      font-size: 1.725rem;
      padding-bottom: 0.5rem;
      left: 0;
      top: 1.5rem;
    }
  }
}
