.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: $full-screen;
  width: $full-screen;
  background: $primary-color;

  section {
    height: 100vh;
    scroll-snap-align: start;
    //margin-top: 2.5rem;
  }
}