.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: $full-screen;
  width: $full-screen;
  background: $primary-color;

  section {
    height: 100vh;
    scroll-snap-align: start;
  }
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

svg:hover {
  fill: $hover-color-menu;
}
