$primary-color: #130621;
$secondary-color: #34115b;
$tertiary-color: #0b0017;
$quaternary-color: #1c1370;

$line-color: #cbc9c7;

$hover-color: #6159a8;
$hover-color-menu: #b56eff;

$accent-color-1: #400872;
$accent-color-2: #9b25b6;
$accent-color-3: #5470ff;

$font-color-primary: #d3d3d3;
$font-color-secondary: #9192ce;
$font-color-menu: #c1a4de;

$font-size-title: 3rem;
$font-size-description: 1.5rem;
$font-size-menu: 1.125rem;

$full-screen: 100%;
