.contact {
  background-color: $secondary-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  &__title {
    font-family: $font-family-secondary;
    font-size: 4rem;
    font-weight: 900;
    color: $font-primary-color;
    padding-bottom: 2rem;
  }

  &__description {
    font-family: $font-family-primary;
    font-size: 1.5rem;
    color: $font-secondary-color;
    padding-bottom: 2rem;
  }
}