.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 6rem;

  .card {
    z-index: 2;
    box-sizing: content-box;
    width: 70%;
    height: 50%;

    &__tabs {
      font-family: $font-family-menu;
      color: $font-color-secondary;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;

      .tab {
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
        position: relative;
        padding: 0.5rem;
        border-bottom: 2px solid $accent-color-3;

        &:hover {
          background: $quaternary-color;
        }
      }

      .active-tab {
        color: $accent-color-3;
        border: none;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background: initial;
          animation: new 0.5s;
        }
      }
    }

    &__contents {
      font-family: $font-family-primary;
      color: $font-color-secondary;

      position: relative;
      padding: 1rem;

      .date {
        font-size: $font-size-menu;
        padding-bottom: 1rem;
        text-align: right;
      }

      .details {
        font-size: $font-size-menu;
        font-weight: 700;
        padding-bottom: 1rem;
      }

      .content {
        display: none;
        position: relative;
      }

      .active-content {
        display: grid;
        transition: all 1s ease-in-out;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        svg {
          padding: 0 0.5rem;
          fill: $accent-color-3;
        }
        padding-bottom: 1rem;
        display: block;
      }
    }
  }
}
